<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CustomerInquiryEntities" connectionString="metadata=res://*/CustomerDb.csdl|res://*/CustomerDb.ssdl|res://*/CustomerDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CustomerInquiry;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>